@charset "UTF-8";
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 300;
  font-display: swap;
  src: url("SFProText-Light.eb0388fa.woff2") format("woff2"), url("SFProText-Light.f8058ed1.woff") format("woff"), url("SFProText-Light.f31eb848.ttf") format("truetype"), url("SFProText-Light.970dfa27.svg#SF_Pro_Text") format("svg"), url("SFProText-Light.0d7524da.eot?") format("eot");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-display: swap;
  src: url("SFProText-Regular.afcb9c01.woff2") format("woff2"), url("SFProText-Regular.3d227139.woff") format("woff"), url("SFProText-Regular.94e544be.ttf") format("truetype"), url("SFProText-Regular.933fc66a.svg#SF_Pro_Text") format("svg"), url("SFProText-Regular.a071c4ed.eot?") format("eot");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-display: swap;
  src: url("SFProText-Medium.bc8ce21a.woff2") format("woff2"), url("SFProText-Medium.855b5482.woff") format("woff"), url("SFProText-Medium.ed022602.ttf") format("truetype"), url("SFProText-Medium.1ebcb590.svg#SF_Pro_Text") format("svg"), url("SFProText-Medium.6869e861.eot?") format("eot");
}
@font-face {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-display: swap;
  src: url("SFProText-Semibold.af1955a8.woff2") format("woff2"), url("SFProText-Semibold.85b9fe11.woff") format("woff"), url("SFProText-Semibold.4faaf8d6.ttf") format("truetype"), url("SFProText-Semibold.a8502191.svg#SF_Pro_Text") format("svg"), url("SFProText-Semibold.1239cf05.eot?") format("eot");
}
@font-face {
  font-family: "Gotham";
  font-weight: 700;
  font-display: swap;
  src: url("Gotham-Bold.2842d54a.woff2") format("woff2"), url("Gotham-Bold.fe1d6e0a.woff") format("woff"), url("Gotham-Bold.96f7568e.ttf") format("truetype"), url("Gotham-Bold.a9591828.svg#Gotham") format("svg"), url("Gotham-Bold.2b82b482.eot?") format("eot");
}
body {
  font-size: 22px;
  font-family: "SF Pro Text", sans-serif;
  color: #2C2E36;
  line-height: 1.4;
}

/* debut css menu */
.nav {

	background-color: #E64A19;
  display: flex;
  align-items: center;
}

.nav .nav__menu {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  
	}
	
.nav .nav__menu li {
	display:inline-block;
	background-color: #E64A19;
	}

.nav a {
	display:block;
	padding:0 30px;	
	color:#FFF;
	font-size:20px;
	text-decoration:none;
}

.nav a:hover{
  color:#25201f;
  background-color:#F1F1F1;
  font-weight:600;
  border-radius: 4px;
  box-shadow: 0 2px 5px #3232321a;
}
.nav a[aria-current]{
  color:#25201f;
  background-color:#F1F1F1;
  font-weight:600;
  border-radius: 4px;
  box-shadow: 0 2px 5px #3232321a;
}

.nav #seul{
  display: inline;
  line-height: -60px;
}
.nav #seul:hover{
  color:#FFF;
  background-color:#E64A19;
  font-weight:600
}


.menu-logo{width :150px;
 
  margin-right:200px;
  margin-left:50px;
 margin-top: 8px;
  background-color: #FFF;
   }
/* fin css menu */



/* debut css page accueil*/

   .header-image{
    background: url(https://img.freepik.com/vecteurs-libre/jeunes-investisseurs-travaillant-pour-profit-dividende-revenus_74855-6143.jpg?w=2000) no-repeat right /800px 500px;
    height: 500px;
    }
  
  .header-title {
    font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 64px;line-height: 0.7em;
  padding-top: 40px;
  padding-left: 10px;
  }

  .header-title span{
    color: #E64A19;
  }
  .header-image-text p{
    padding-left: 20px;
  }
  .header-image-text a{
    padding-left: 30px;
  }

  .header-title #span2{
    color: #504d4d;
    font-size: 35px;
  }
  
  .header-description {
    color: green;
    font-weight: 700;
    text-shadow: 0px 0px 6px dark;
   
  }
/* fin css page accueil */



/* debut css page archive sociétés*/
  .page-societe {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    align-items: flex-start;
    grid-template-columns: 1fr ;
  }

  .societe-single__header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .societe-single__meta {
    display: flex;
    align-items: center;
    width: 33.3333%;
    padding: 10px;
   
  }

  .societe-info {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    background-color: #cfcccb;
    border-radius: 20px;
  }
  
  .societe-info__place {
    overflow: hidden;
    padding: 10px;
  }
  .societe-info__body span{
    color: #20327D;
  }
  
  
  .societe-info__body {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(2, auto);
    opacity: 0.9;
    transition: 0.5s;
  }
  a.societe-info:hover .societe-info__body{
   opacity: 1;
   transform: scale(1.02);
  }
  
  .societe-info__nom {
    font-weight: 600;
    font-size: 24px;
    grid-column: 1/span 3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #ee7716;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #ffffff;
  }
  
  .societe-info__année {
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: 600;
  }
  
  .societe-info__nombre {
   
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: 600;
    
  }
  .societe-info__action {
    font-weight: 600;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 0px;
    text-align: center;
    grid-column: 1/span 3;
  }
/* fin css page archive sociétés*/





/* debut css page archive scpi*/

  .page-scpi {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    align-items: flex-start;
    margin-top: 30px;
    grid-template-columns: 1fr 300px;
  }
  


  .scpi-single__header {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .scpi-single__meta {
    display: flex;
    align-items: center;
    width: 33.3333%;
    padding: 10px;
   
  }

  .scpi-info {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    background-color: #cfcccb;
    border-radius: 20px;
  }
  
  .scpi-info__place {
    overflow: hidden;
    padding: 10px;
  }
  
  .scpi-info__body span{
    color: #20327D;
  }
  
  
  .scpi-info__body {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(4, auto);
    opacity: 0.9;
    transition: 0.5s;
  }
  a.scpi-info:hover .scpi-info__body{
   opacity: 1;
   transform: scale(1.02);
  }
  
  .scpi-info__nom {
    font-weight: 600;
    font-size: 24px;
    grid-column: 1/span 4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #ee7716;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #ffffff;
  }
  
  .scpi-info__taux {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: 600; 
  }
  
  .scpi-info__prix {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: 600;
   
  }
  .filtre,
.filtre__aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;
  margin-top: 10px;
}

.filtre__title {
 
      color: white;
      background-color: #f35f0a;
      font-size: 1.2rem;
      text-align: center;
}
.filtre .heading{
  color: rgb(245, 151, 28);
  font-weight: 900;
  margin-top: 10px;
}
.filtre .heading2{
  color: rgb(245, 151, 28);
  font-weight: 900;
}


.filtre__aside {
  grid-gap: 16px;
}

.form-control {
  border-radius: 10px;
  font-size: 18px;
  width: 80%;
  height: 60%;
  text-align: center;
}
  /* fin css page archive scpi*/




/* debut css page  scpi*/
  .scpi-header {
    display: grid;
    grid-template-columns: 520px 1fr;
    grid-gap: 48px;
    align-items: center;
  }
  .scpi__title{
    font-size: 64px;
    margin-left: 16px;
  }
  .scpi__meta {
    display: flex;
    margin-top: -30px;
    margin-left: 16px;
  }
  .scpi__location{
    font-weight: 900;
  }
  .scpi__price {
    color: #FE6748;
    font-weight: 600;
    margin-left: 10px;
    font-size: 24px;
  }
  .scpi__actions h3 {
    color: #FE6748;
    font-weight: 600;
    margin-left: -200px;
  }

  .scpi__actions {
  display: flex;
  margin-top: 20px;
  }


.scpi__photos {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.scpi-option {
  margin: 8px 16px;
  display: inline-flex;
}

.scpi-option img {
  
  width: 80px
}
/* fin css page scpi*/





/* debut css footer*/
.footer {
  border-top: 1px solid #F4ECEC;
  padding-top: 44px;
  margin-top: 150px;
  margin-bottom: 100px;
  font-size: 18px;
}

.footer li a {
  display: block;
  padding: 7px 0;
}

.footer a {
  transition: color 0.3s;
}

.footer a:hover {
  color: #FE6748;
}

.footer__col + .footer__col {
  margin-top: 32px;
}

.footer__title {
  font-weight: 600;
  margin-bottom: 16px;
}

.footer__social {
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: flex-end;
}

.footer__social a + a {
  margin-left: 24px;
}

.footer__social svg {
  width: 24px;
  height: 24px;
}

.footer__credits {
  text-align: right;
}

@media (min-width: 721px) {
  .footer {
    display: flex;
  }

  .footer__col + .footer__col {
    margin-top: 0;
    margin-left: 64px;
  }

  .footer__col:last-child {
    margin-left: auto;
  }
}
/* fin css footer*/



/* boutons */
  .bouton {
    padding: 10px 30px;
    color: #FFF;
    background: linear-gradient(180deg, #FE694A 0%, #FA4C29 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 20px;
  }

  .bouton2 {
    padding: 15px 20px;
    color: #FFF;
    background: linear-gradient(180deg, #FE694A 0%, #FA4C29 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 20px;
  }

  button {
    border: none;
    background: none;
    padding: 0;
    -webkit-appearance: none;
    cursor: pointer;
  }



  